html, body{
  font-family: 'Roboto', sans-serif;
  background-color: #d3d3d3;
}

input, button, select, textarea{
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: none;
  background-color: #eee;
  color: 222;
  padding: 8px;
  margin: 0;
}
input:not([type="submit"]):not([type="reset"]), select, textarea{
  width: 100%;
}
.icon-button{
  border: none;
  background: none;
}

.main-container{
  display: block;
  position: relative;
  width: 960px;
  max-width: 90%;
  margin: 28px auto 36px;
}

.timesheet{
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.timesheet .sheet{
  display: table-cell;
  width: 12%;
  vertical-align: top;
  padding-left: 2px;
  padding-right: 2px;
  border-right: 1px solid #888;
}
.timesheet .sheet:last-child{
  border-right: none;
}
.timesheet .sheet h2{
  text-align: center;
  border-bottom: 1px solid #aaa;
  margin: 0 -2px;
  padding-bottom: 8px;
}
.timesheet .sheet .note{
  display: block;
  box-sizing: border-box;
  position: relative;
  padding: 32px 16px 16px;
  margin-top: 4px;
  border-bottom: 1px solid #aaa;
}
.timesheet .sheet .note .remove-note-action{
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
}
.timesheet .sheet .note h3{
  font-size: 18px;
  padding-bottom: 8px;
}
.timesheet .sheet .note .time{
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
  font-size: 12px;
}

.row{
  display: block;
  padding-top: 8px;
}

.modal-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
}
.modal{
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd;
  border: 1px solid #333;
  padding: 0;
  margin: 0;
  width: 320px;
  max-width: 90%;
  overflow-x: auto;
  max-height: 100%;
  border-radius: 3px;
  box-shadow: 3px 3px 7px 1px #1a1a1a;
}
.modal .modal-body{
  display: block;
  box-sizing: border-box;
}
.modal .close-action{
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal .modal-head{
  padding: 16px 8px 4px;
  text-align: center;
}
.modal .modal-head h2{
  font-size: 22px;
}
.modal .modal-body{
  padding: 8px;
}
.modal-overlay.visible, .modal.visible{
  display: block;
}


.add-note-action{
  display: block;
  box-sizing: border-box;
  margin: 6px:
}

.stepper{
  text-align: center;
}
.stepper li{
  display: inline-block;
  padding: 4px;
}
.stepper li.selected{
  color: #dd2222;
}

.action-button{
  display: inline-block;
}
.action-button.pull-right{
  width: 60%;
  float: right;
}
